@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

body{
  background-color: #90b6cc;
  font-family:'Montserrat', sans-serif;
  color: grey;
  font-size: 16px;
  line-height: 1.1;
}

h1 {
  color: grey;
  font-family:'Montserrat', sans-serif;
  font-size: 35px;
  line-height: 1.6;
}


.employement p {
  color: #3688b8;
  line-height: 1.0;
}


a{
  color: #3688b8;
  text-decoration: none;
  font-weight: 500;
}

a:hover{
  color: #777DA0;
}

.CV{
  margin: 5px 50px;
}
.profile {
  background-color: #f4f4f4;
  border-radius: 4px;
  box-shadow:0px 10px 30px #777DA0;
}

.title {
padding-top: 15px;
padding-bottom: 15px;
}

.title p {
color: #3688b8;
font-size: 20px;
}

.details {
  display: flex;
  justify-content: space-around;
  border-top: solid;
  border-width: thin;
  margin-left: 50px;
  margin-right: 50px;
}

.profilepic img {
  margin-left: 100px;
  margin-top: 120px;
  border-radius: 5px;
  height: 350px;
  width: 240px;
}

.employement {
  margin-left: 20px;
  padding-right: 15px;
}

.socialmedia {
  background: white;
  border-radius: 4px;
  box-shadow:0px 10px 30px #777DA0;
  margin-top: 10px;
  padding-top: 5px;
}

.text_center{
  text-align: center;
}

ul{
  list-style: none;
  padding-left: 0px;
  padding-bottom: 20px;

}

ul li{
  display:inline;
  padding: 15px;
}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
 }
}

